aside.sidebar {
    display:none
}

header.appbar.ng-star-inserted {
    display:none
}
span.event__dateTime.ng-star-inserted {
    display:none
}
.main-container.ng-star-inserted {
    background:#eee9e5
}
span.event-start-date.ng-star-inserted {
    display:none
}
span.ng-star-inserted {
    display:none
}
.bt-start-end-date {
    display:none
}
